@import 'tailwindcss';

@font-face {
  font-family: 'mono-bold';
  src: url('/fonts/andale-mono-bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'mono';
  src: url('/fonts/andale-mono.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.mono {
  font-family: 'mono', monospace;
}

.mono-bold {
  font-family: 'mono-bold', monospace;
}

:root {
  --background: #262626;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'mono', 'mono-bold';
}
